/*	Web App Part 2 CSS Elements
	by Eric Mareth
	for Visual Frameworks FSO
	Term 1212
*/


html {
	background: #cccccc;
	overflow: scroll;
	
}

h1 {
	font-family: Impact;
	text-align: center;
	letter-spacing: 3px;
	color: #990000;

}

h2 {
	font-family: Impact;
	letter-spacing: 2px;
	text-align: center;
	text-transform: capitalize;
	margin: 0px 0px 50px 0px;
}

p {
	font-family: "Trebuchet MS" ;
}

li {
	font-family: "Trebuchet MS" ;
}

li #city {
	text-decoration: line-through;
}

fieldset {
	background: white;
	margin: 0px 0px 25px 0px;
	line-height: 28px;
}


legend {
	font-style: italic;
	background: white;
	padding: 2px 10px 3px 10px;
	outline: 2px solid gray;
	color: #990000;
}

#button {
	padding: center;
}

#addLink {
	margin: 70px;
	padding: 10px 20px 10px 20px;
	background: white;
	border: 6px double gray;
}